.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #121212;
    color: white;
    font-weight: 600;
}

.toolbar-nav {
    width: 100%;
}

.toolbar-link {
    margin-left: 3%;
    margin-right: 5%;
    font-size: medium;
	text-decoration: none;
	color: white;
}

.toolbar-link:hover {
	color: grey;
}

.toolbar-after {
    margin-top: 80px !important;
}

.toolbar img {
    margin: 0 16px;
}
